body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: cyan;
  font-size: 2.25rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-socials {
  font-size: 1.25rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info {
  height: 9rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1.25rem !important;
  width: 100%;
  object-fit: cover !important;
}

.card-img-top:hover {
  opacity: 1;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 450 !important;
}

.listing-link {
  text-decoration: none;
}

.hovering-card:hover {
  transform: scale(1.03);
}

.add-btn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: cyan !important;
  color: black !important;
  border: none !important;
}

.show-image {
  height: 45vh;
}

.show-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: center;
  width: 43vw;
}

.line {
  width: 60vw;
  background-color: #222222;
  height: 0.2rem;
  opacity: 0.1;
  margin: 1rem auto;
}

.filters {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  align-items: center;
  margin-top: 0.5rem;
}

.filter {
  text-align: center;
  opacity: 0.8;
  margin-right: 2rem;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

.tax-toggle {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
  height: 2.75rem;
  padding: 0 0.75rem;
}
#btn-search {
  background-color: cyan;
  color: #000;
  border-radius: 0.9rem;
}

#btn-search i {
  display: inline;
  font-size: 0.9rem;
  padding-right: 0.5rem;
}

#search-box {
  border-radius: 0.9rem;
  padding: 0 4rem;
}

.filter a {
  text-decoration: none;
  color: #000;
  opacity: 0.8;
}

#title {
  color: cyan;
  /* background-color: black; */
  font-size: 1.5rem;
}
