body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-socials {
  font-size: 1.25rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info {
  height: 9rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1.25rem !important;
  width: 100%;
  object-fit: cover !important;
}

.card-img-top:hover {
  opacity: 1;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 450 !important;
}

.listing-link {
  text-decoration: none;
}

.listing-card:hover {
  transform: scale(1.07);
}

.add-btn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #fe424d !important;
  border: none !important;
}
